<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StockEntities" connectionString="metadata=res://*/StockEntities.csdl|res://*/StockEntities.ssdl|res://*/StockEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fishruss.dynu.net;initial catalog=StockData;persist security info=True;user id=wuc623123;password=w8743219;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>